.text-title{}

.text-title h4{
    font-size: 3rem;
    font-weight: 600;
    color: var(--title-color);
}

.text-title p{
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 75%;
    color: var(--text-color);
}